/public/_build
/public/build
/node_modules
/.cache
/build
/dist
/api
/.git
/app/styles

.editorconfig
.eslintrc.cjs
.gitattributes
.gitignore
.prettierignore
.prettierrc
LICENSE
README.md
npm-debug.log
