.blinking {
  animation: blink 1s step-end infinite;
}

.rotating {
  animation: rotate 20s infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(120deg) scale(1, 1.4);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#menu {
  background: red;
}
